# Base de données
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=cesiZen

# API
DATABASE_URL=postgresql://postgres:CHANGE_ME@db:5432/cesiZen
AUTO_SEED=false
# API_URL=https://ton-domaine.com
